@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body, html{
  scroll-behavior: smooth;
  user-select: none;
}

:root{
  --main-color: #57b279;
  --main-color-variant: hsla(142, 37%, 52%, 0.096);
  --text-color: #ffffff;
  --next-color: #000066;
  --body-text: #000000;
  --container-lg: 95%;
  --container-md: 92%;
  --container-sm: 98%;
}